<div class="item" fxLayout="column">
    <mat-card>
        <mat-card-header fxLayoutAlign="center center">
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Page not found :(</mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayoutAlign="center center">
            <p>
                Maybe the page you are looking for has been removed, or you typed in the wrong URL
            </p>
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="center center">
            <a mat-button color="primary" (click)="goBack()">Go to login page</a>
        </mat-card-actions>
    </mat-card>
</div>