<div class="item" fxLayout="column">
    <mat-card>
        <mat-card-header fxLayoutAlign="center center">
            <mat-card-title>Change Password</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="passwordForm" (ngSubmit)="updatePassword(passwordForm.value)"
                  autocomplete="off">
                <div class="field-container"
                     fxLayout="column"
                     fxLayoutGap="30px">

                    <mat-form-field appearance="fill" class="field">
                        <mat-label>Existing Password</mat-label>
                        <input matInput type="password" class="form-control" id="oldpassword"
                               [formControl]="oldpassword" required>
                        <mat-icon matSuffix>casino icon</mat-icon>
                        <div class="show-errors"
                             *ngIf="passwordForm.get('oldpassword').dirty && passwordForm.get('oldpassword').errors">
                            <mat-error
                                    *ngIf="passwordForm.get('oldpassword').errors.required">
                                Please enter existing password
                            </mat-error>
                        </div>
                    </mat-form-field>


                    <mat-form-field appearance="fill" class="field">
                        <mat-label>New Password</mat-label>
                        <input matInput type="password" class="form-control" id="password" [formControl]="password"
                               required>
                        <mat-icon matSuffix>casino icon</mat-icon>
                        <div class="show-errors"
                             *ngIf="passwordForm.get('passwordGroup.password').dirty && passwordForm.get('passwordGroup.password').errors">
                            <mat-error
                                    *ngIf="passwordForm.get('passwordGroup.password').errors.required">
                                Please enter password
                            </mat-error>
                            <mat-error
                                    *ngIf="passwordForm.get('passwordGroup.password').errors.pattern">
                                Password must contain one letter, number & special characters
                            </mat-error>
                        </div>
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="field">
                        <mat-label>Retype Password</mat-label>
                        <input matInput type="password" class="form-control" [formControl]="retypepass" id="retypepass"
                               required>
                        <mat-icon matSuffix>casino icon</mat-icon>
                        <div class="show-errors"
                             *ngIf="(passwordForm.get('passwordGroup.retypepass').touched || passwordForm.get('passwordGroup.retypepass').dirty) && (passwordForm.get('passwordGroup.retypepass').errors || passwordForm.get('passwordGroup').errors)">
                            <mat-error
                                    *ngIf="passwordForm.get('passwordGroup.retypepass').errors?.required">
                                Please confirm your password
                            </mat-error>
                            <mat-error *ngIf="passwordForm.get('passwordGroup').errors?.mismatchedPassword">
                                Password do not match
                            </mat-error>
                        </div>
                    </mat-form-field>

                </div>
                <div class="password-buttons" fxLayoutAlign="space-between">
                    <button mat-raised-button
                            color="primary"
                            (click)="backToProfile()">
                        Back
                    </button>
                    <button mat-raised-button
                            class="password-button"
                            type="submit" [disabled]="passwordForm.invalid">
                        Update
                    </button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>